.todolist {
  width: 700px;
  max-width: 98%;
  background-color: rgb(235, 181, 6);
}

.create-task {
  width: 120px;
}

.task-item {
  /* border: solid 1px black; */
  border-radius: 3px;
  padding: 5px 5px 5px 10px;
  margin-top: 10px;
}

.task-list {
  height: 300px;
  overflow-y: auto;
}

.task-content {
  font-size: 14pt;
  padding-left: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  width: calc(100% - 160px);
}

.task-content:focus {
  border: solid 1px #0084ff;
  border-radius: 5px;
}

.task-item:nth-of-type(odd) {
  background-color: white;
}

.task-item:nth-of-type(even) {
  background-color: lightgray;
}
.action {
  margin-right: 5px;
}

.edit-control {
  width: calc(100% - 160px);
  background-color: transparent;
}
.edit-control:read-only {
  border: 0;
}

.edit-control:read-only {
  outline: none;
}